.listwarehouseuser{
    display: flex;
    justify-content: center;
    align-items: center;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.3em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 90%;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.emptyWarehouse {
    font-size: 1.3em;
    font-family: sans-serif;
}

#myInput {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 90%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    display: inline-block;
  }