body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-containers{
  justify-content: center;
  
  .login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .title{
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    padding-top: 30px;
  }
  .text{
    font-weight: 600;
    padding-bottom: 3px;
  }
  input{
    padding: 12px 7px;
    outline: none;
    margin-bottom: 7px;
    background: #1618230f;
    border: #1618230f;
    border-radius: 3px;
    width: 100%;

    &:hover{
      background-color: #dedede;
      border: 1px solid #dedede;
    }
  }
  .input-pass{
    position: relative;

    i{
      cursor: pointer;
      position: absolute;
      top: 17px;
      right: 10px;
    }
  }

  button{
    padding: 7px;
    border-radius: 3px;
    width: 100%;
    margin: 0 auto;
    outline: none;
    border: none;
    &.active{
      background-color: #fe2c55;
      color: white;
    }
  }
  button[disabled=disabled], button:disabled {
    cursor: not-allowed;
  }
  .back{
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
  }
}

//category
.category-containers{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
  .category-row{
    text-align: center;
    .category-item{
      background: #2d36660f;
      font-size: larger;
      &:hover{
        background: rgb(189, 189, 248);
        opacity: 0.8;
       }
    }
  }
}